/* === Content ===*/

.content {
    grid-column: 2 / -1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-bottom: 100px;
}




[id *='section'] {
    height: 100%;
    width: 500px;
    left: 300px;
    margin-top: 100px;
    margin: 50px;
    border: 2px solid #214A20;
    padding: 8px;
}


section {
    margin-bottom: 100px;
    padding: 10px;
}


[id *='section']:hover {
    box-shadow: 1px 8px 20px grey;
    -webkit-transition: box-shadow .6s;
    
}

.content img {
    display: flex;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-top: 20px;
}


article {
    padding: 30px;
    margin: 20px;
    border-bottom: 1px solid#73AD59;
}


#linked-icon{
    height: 30px;
    width: 30px;
}




ul{

    list-style-type: square;

}


@media screen and (max-width: 375px) {
    section {
        padding: 10px;
    }
    .content img {
        margin-right: 30%;
    }
}