@import "body.css";
@import "header.css";
@import "footer.css";
@import "button.css";
@import "sidebar.css";
@import "content.css";
@import "contact.css";


/*
grid main page
*/

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr auto auto;
  grid-gap: 10px;
  width: 100%;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-cards {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 100px;
  width: 100%;
  z-index: 100;
}


.container-cards >  div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  }

body {
  font-family: 'PT Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  font-size: 16px;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 20px;
}
margin: 30px;